<label>Filter by Position</label>
  <select (change)="onPositionChange($event.target.value)">
    <option value="allPlayers" selected="selected">All Players</option>
    <option value="Jammer">Jammers</option>
    <option value="Blocker">Blockers</option>
    <option value="Coach">Coaches</option>
  </select>

<div class="row" *ngFor="let player of players | async | positionFilter:filterByPosition">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{player.name}}</h3>
      </div>
      <div (click)="goToDetailPage(player)">
        <img src="../assets/images/{{player.image}}">
      </div>
      <div *ngIf="currentRoute === '/admin'">
        <app-edit-player [selectedPlayer]="player"></app-edit-player>
      </div>
    </div>
  </div>
</div>
