<p>
  Founded in 2009, the Derby Dinos are a Flat Track Roller Derby team, members of the prestigious Stomptown Roller Girls league based in Portland, OR.
</p>
<p>
  The Derby Dinos are a frightening pack, inspiring fans and frustrating opponents with every jam.
</p>
<p>
  Never a team to back down from a fight, they’re known for their speedy jammers, ruthless blockers, and for being the most winning team in Stomptown Roller Girls history.
</p>

<p>New to roller derby, check out this video for the basics:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OId6gTd2LCM" frameborder="0" allowfullscreen></iframe>
