<p>
  Based in Portland, OR, the Derby Darlings are a Flat Track Roller Derby team, apart of the prestigious Rose City Rollers league.
</p>
<p>
  The Derby Darlings are a frightening pack, inspiring fans and frustrating opponents with every jam.
</p>
<p>
  Never a team to back down from a fight, they’re known for their speedy jammers, ruthless blockers, and for being the most winning team in Rose City Rollers history.
</p>

<p>New to roller derby, check out this video for the basics:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OId6gTd2LCM" frameborder="0" allowfullscreen></iframe>
