<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="players">Roster</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="admin">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>

<img src="../assets/images/trex.png" alt="Derby Dinos Logo">
<h1>{{title}}</h1>
<h3>Flat track roller derby team, flat out awesome.</h3>

<div class="container">
  <router-outlet></router-outlet>
</div>
