<h3>Add New Player</h3>
<div class="form-group">
  <label>Name:</label>
  <input #newName class="form-control">
</div>
<div class="from-group">
  <label>Position:</label>
  <select #newPosition class="form-control">
    <option value="Jammer">Jammer</option>
    <option value="Blocker">Blocker</option>
    <option value="Coach">Coach</option>
  </select>
</div>
<div class="from-group">
  <label>Image:</label>
  <input #newImage placeholder="image url" class="form-control">
</div>
<div class="from-group">
  <label>Join Date:</label>
  <input #newJoinDate type="number" min=2009 max=2017 class="form-control">
</div>
<button (click)="submitForm(newName.value, newPosition.value, newImage.value, newJoinDate.value); newName.value=''; newPosition.value=''; newImage.value=''; newJoinDate.value=''">Add</button>

<div>
  <h3>Edit or Delete Players:</h3>
  <app-player-list></app-player-list>
</div>
